<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>idex</title>
    <link rel='stylesheet' href='/style/style.css' />
</head>


<body>
    <h2>USERS</h2>
    <table style="width:100%">
        <tr>
           <th>id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Phone</th>
            <th>action</th>
        </tr>
        <% dataUsers.forEach(function(user){ %>
        <tr>
            <td><%= user.id%></td>
            <td><%= user.first_name%></td>
            <td><%= user.last_name%></td>
            <td><%= user.phone%></td>
            <td><a href="/user/viewedit/<%= user.id%>">edit </a><a href="/user/delete/<%=user.id%>"> delete</a></td>
        </tr>
     <% }); %>
    </table>
<div class="button">
  <h4><a href="/user/new">add user</a> </h4>
</div>

</body>

</html>
