<!DOCTYPE html>
<html>
  <head>
    <title>List User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <h2>List User</h2>
    <table style="width:50%">
      <tr>
        <th>ID</th>
        <th>first_name</th>
        <th>last_name</th>
        <th>phone</th>
        <th colspan="2">action</th>
      </tr>
      <% for(let i=0; i<data.length; i++){%>
        <tr>
          <td><%= i+1 %>.</td>
          <td><%= data[i].firstname %></td>
          <td><%= data[i].lastname %></td>
          <td><%= data[i].phone %></td>
          <td><a href="/delete/<%= data[i].id %>" onclick="return confirm('Anda yakin?')"> Delete </a></td>
          <td><a href="/update/<%= data[i].id %>"> Update </a></td>
        </tr>
      <% }%>
    </table>
    <br><br>
    <form action="/create" method="POST" style="width:50%">
      <fieldset>
        <legend>Create new user:</legend>
          First name:<br>
          <input type="text" name="firstname"><br>
          Last name:<br>
          <input type="text" name="lastname"><br>
          Phone:<br>
          <input type="text" name="phone"><br><br>

          <input type="submit" value="Add User">
      </fieldset>
    </form>
  </body>
</html>
